/* Ellipse 1 */

position: absolute;
width: 539px;
height: 539px;
left: -146px;
top: -145px;

background: #67a2f8;
opacity: 0.3;
filter: blur(250px);

/* circles */

position: absolute;
width: 1922px;
height: 955.9px;
left: -2px;
top: -0.19px;

/* Ellipse 3 */

position: absolute;
width: 539px;
height: 539px;
left: 1613px;
top: 741px;

background: #157c3d;
opacity: 0.3;
filter: blur(250px);

/* Ellipse 2 */

position: absolute;
width: 539px;
height: 539px;
left: 1620px;
top: -201px;

background: #ffa17a;
opacity: 0.3;
filter: blur(250px);

/* Ellipse 4 */

position: absolute;
width: 539px;
height: 539px;
left: 1190px;
top: 218px;

background: #38528e;
opacity: 0.8;
filter: blur(250px);

/* Header */

position: absolute;
width: 1320px;
height: 70px;
left: 300px;
top: 0px;

/* Frame */

position: absolute;
width: 677px;
height: 514.84px;
left: 982px;
top: 192px;

/* Trusted and Secure Digital Currency Exchange */

position: absolute;
width: 801px;
height: 276px;
left: 300px;
top: 287px;

font-family: "Space Grotesk";
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 92px;

color: #ffffff;

/* Try first if you get best experience to buying selling & exchange Digital Currency from our platform. */

position: absolute;
width: 541px;
height: 60px;
left: 300px;
top: 593px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */

color: #b6b6b6;

/* Frame 1171277467 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 8px;
gap: 6px;

position: absolute;
width: 291px;
height: 40px;
left: 300px;
top: 237px;

background: linear-gradient(
  90deg,
  rgba(168, 105, 255, 0.1) -25.08%,
  rgba(255, 119, 186, 0.1) 45.6%,
  rgba(255, 187, 140, 0.04) 116.67%
);
border-radius: 8px;

/* button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 8px;

position: absolute;
width: 176px;
height: 58px;
left: 300px;
top: 677px;

/* Gradiant */
background: linear-gradient(90deg, #a869ff 1%, #ff77ba 49.86%, #ffbb8c 100%);
border-radius: 8px;

/* Bitcoin-1 */

position: absolute;
left: 52.73%;
right: 43.37%;
top: 2.31%;
bottom: 96.55%;

background: url();
opacity: 0.5;
transform: rotate(30deg);
